semester: Spring
year: 2017
start_month: 1
start_day: 25
end_month: 5
end_day: 11
end_semester_month: 5
end_semester_day: 15
# Days of the week are MTWRF
meeting_days: MWF
start_weekday: W
holiday: 2/20 February Break
holiday: 4/3 Spring Break
holiday: 4/5 Spring Break
holiday: 4/7 Spring Break
#special_dates: 10/10 drop deadline
homework: Meshes;;1/27;2/8
homework: Ray 1;;2/10;2/17
homework: Scene;;2/22;3/6
homework: Shaders;;3/3;3/17
homework: Splines;;3/22;3/31
homework: Animation;;4/10;4/19
homework: Ray 2;;4/21;5/5
exam: 3/21;Midterm: 7:30<span class=ampm>pm</span>
#exam: 5/12;Final Exam: 7<span class=ampm>pm</span>, Phillips 101
#exam: 12/10;Final projects for 4621: 4:30<span class=ampm>pm</span>
meeting: Introduction;slides/01intro.pdf
meeting: Triangle meshes;slides/02trimesh.pdf
meeting: Triangle meshes | .obj files <a href="demos/mesh_viewer">demo</a> <a href="materials/lec03meshes.zip">meshes</a>
meeting: Triangle meshes 2;slides/03trimesh2.pdf; Sec. 12.1
meeting: Ray tracing intersection;slides/04rt-intersect.pdf;Chap. 4, Sec. 2.7
meeting: Ray tracing shading;slides/05rt-shading.pdf
meeting: Ray tracing textures;slides/06rt-textures.pdf;Sec 11.1-2 except 11.2.4
meeting: Ray tracing interpolation;slides/07rt-interp.pdf
meeting: Perspective;slides/08perspective.pdf
meeting: Transformations;;Chap. 6, Review 5.1-5.3
meeting: Hierarchies and Scene Graphs;;Sec. 12.2
meeting: History of CG
meeting: Viewing: Orthographic
meeting: Viewing: Perspective
meeting: Open GL
meeting: Rasterization
meeting: Graphics Pipeline
meeting: GLSL
meeting: Textures
meeting: Textures
meeting: Splines
meeting: Splines
meeting: Splines
meeting: Surfaces
meeting: Animation
meeting: Animation
meeting: Animation
meeting: 3D Rotations
meeting: Ray Tracing acceleration
meeting: Reflection and illumination
meeting: Reflection
meeting: Advanced ray tracing
meeting: Images
meeting: Antialiasing and compositing
meeting: Antialiasing and compositing
meeting: Color science
meeting: Color science
meeting: GPUs
meeting: GPUs
meeting: Conclusions
